.autocomplete-box {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: auto;
  background: #222831;
  border-radius: 0px 0px 10px 10px;
  padding: 10px 8px;
  box-sizing: border-box;
  max-height: 280px;
  overflow-y: auto;
  opacity: 0;
  pointer-events: none;
}

.autocomplete-box li {
  color: #fff;
}

.autocomplete-box .item {
  list-style: none;
  font-size: 1rem;
  width: 100%;
  color: #fff;
  padding: 8px 12px;
  cursor: default;
  border-radius: 5px;
  display: none;
}

.autocomplete-box .item:hover {
  background: #464747;
}
