.container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 100px;
  background-color: #8baad2;
  border-radius: 25px;
}

.row {
}
